################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.dll
*.pdb
*.txt
*.user
*.log
bin/
obj/
log/
info/
DhtCrawler.Web/Index/
torrent/
Properties/
/.vs
/.vscode
/DhtCrawler/torrent
/DhtCrawler/infohash.store
/dotnet2.psess
/dotnet171111.vspx
/dotnet171111(2).kernel.etl
/dotnet171111(2).etl
/dotnet171111(1).vspx
/dotnet1.psess
*.psess
*.stsdb
