################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.dll
*.pdb
/DhtCrawler/bin/Debug/netcoreapp2.0
/.vs/DhtCrawler/v15
/DhtCrawler/obj
*.txt
/.vs
/DhtCrawler/bin/Release
/DhtCrawler/Properties/PublishProfiles
*.user
