<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand"><i class="icon-magnet"></i> 磁力云</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="sr-only">导 航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li><a href="/" id="themes">首 页</a></li>
                <li><a href="@Url.RouteUrl("lastest", new { index = 1 })">最新入库</a></li>
                <li><a href="/">搜索排行</a></li>
                @*<li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="/search/%E5%A4%A7%E9%B1%BC%E6%B5%B7%E6%A3%A0_ctime_1.html#" id="download">工 具 <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="download">
                            <li><a href="/bt2mag.php">BT转磁力链接</a></li>
                            <li class="divider"></li>
                            <li><a href="/mag2bt.php">磁力链接转BT</a></li>
                        </ul>
                    </li>*@
            </ul>
        </div>
    </div>
</div>