@{
    Layout = "_HomeLayout";
    ViewBag.Title = "关于我们";
}
<div class="about">
    <h2>概述</h2>
    <ul>
        <li>
            <a href="/">磁力云</a>是一个专业的基于DHT的磁力链接搜索引擎，专注于提供磁力搜索和BT种子文件搜索服务。它用于解决常见搜索引擎磁力资源过度分散的问题,你可以在这里搜索到分享在DHT网络中的免费电影、剧集、音乐、图书、图片、综艺、软件、动漫、教程、游戏等BT资源链接和磁力链接。你仅仅需要一个支持BitTorrent协议的常见下载软件，就可以以前所未有的方式实现您的下载任务。 </p>
        </li>
    </ul>
    <h3>免责</h3>
    <ol>
        <li><a href="/">磁力云</a>是一个基于DHT的<a href="http://zh.wikipedia.org/zh/磁力链接">磁力链接</a>搜索引擎，它用于解决资源过度分散的问题。</li>
        <li>它通过<a href="http://zh.wikipedia.org/zh/BitTorrent_(协议)">BitTorrent协议</a>加入DHT网络，通过爬虫实时的自动索引数据，仅存储文件的标题、大小、文件列表、文件标识符（磁力链接）等基础信息。</li>
        <li><a href="/">磁力云</a>不上传任何资源，不提供<a href="http://zh.wikipedia.org/zh/BitTorrent_tracker">Tracker服务</a>，不提供<a href="http://zh.wikipedia.org/wiki/种子文件">种子文件</a>的下载，这意味着<a href="/">磁力云</a>是一个完全合法的系统。</li>
        <li><a href="/">磁力云</a>不下载任何真实资源，无法判断资源的合法性及真实性，使用<a href="/">磁力云</a>搜索服务的用户需自行鉴别内容的真伪。</li>
    </ol>
    <h3>使用</h3>
    <ol>
        <li><a href="/">磁力云</a>返回的结果是磁力链接，这并不意味着您能通过<a href="/">磁力云</a>直接下载资源，您需要通过下载工具才能实现下载</li>
        <li>目前主流的下载工具有：<a href="http://dl.xunlei.com/xl7.9/intro.html">迅雷</a>、<a href="http://xf.qq.com/">QQ旋风</a>、<a href="http://www.bitcomet.com/index-zh-cn.php">BitComet</a>等</li>
    </ol>
</div>
