@{
    Layout = "_HomeLayout";
    ViewBag.Title = "服务条款";
}


<div class="dmc">
    <h3>Digital Millennium Copyright Act Notice and Takedown Procedure</h3>
    <p>The btcloudword.com intends to fully comply with the Digital Millennium Copyright Act ("DMCA"), including the notice and "take down" provisions, and to benefit from the safe harbors immunizing btcloudword.com from liability to the fullest extent of the law. The btcloudword.com reserves the right to terminate the account of any Member who infringes upon the copyright rights of others upon receipt of proper notification by the copyright owner or the copyright owner's legal agent.</p>
    <p>Included below are the processes and procedures that btcloudword.com will follow to resolve any claims of intellectual property violations:</p>
    <ul class="no-style">
        <li>
            <p>A) Notice for Claims of Intellectual Property Violations. If you believe that your work has been copied in a way that constitutes copyright infringement, or that your intellectual property rights have been otherwise violated, please provide btcloudword.com's Copyright Agent with the following information:</p>
            <ul>
                <li>An electronic or physical signature of the person authorized to act on behalf of the owner (the "Complainant:) of the copyright or other intellectual property interest that has allegedly been infringed;</li>
                <li>A description of the copyrighted work or other intellectual property that the Complainant claims has been infringed;</li>
                <li>A description of where the infringing material or activity that the Complainant is located on the Site, with enough detail that we may find it on the Site (e.g., Profile ID);</li>
                <li>The name, address, telephone number and email address of the Complainant;</li>
                <li>A statement by the Complainant that upon a good faith belief the disputed use of the material or activity is not authorized by the copyright or intellectual property owner, its agent or the law;</li>
                <li>and A statement by the Complainant made under penalty of perjury, that the Complainant is the copyright or intellectual property owner or is authorized to act on behalf of the copyright or intellectual property owner and that the information provided in the notice is accurate.</li>
            </ul>
            <p>The btcloudword.com's Copyright Agent for Notice for Claims of Intellectual Property Violations can be reached as follows:</p>
            <ul>
                <li>By e-mail: shengwutai@163.com</li>
                <li>By Report Abuse: Click on Report Abuse link when you are would like to report DMCA for that file.</li>
            </ul>
        </li>
        <p>B) The btcloudword.com's Response to Notice for Claims of Intellectual Property Violations.</p>
        <p>Upon btcloudword.com's receipt of a Notice for Claims of Intellectual Property Violations, btcloudword.com will take the following steps:</p>
        <ul>
            <li>Promptly remove or disable access to the material or activity claiming to be infringing;</li>
            <li>Notify the Member responsible for posting the alleged infringement of copyright or other intellectual property rights that the material or activity has been removed or access to it has been disabled; and</li>
            <li>Provide the Member with a Counter Notification Form outlining the steps they are required to follow if they wish to respond.</li>
        </ul>
        <li>
            <p>C) Counter Notification Form.</p>
            <p>If a Member receives notice that a material or activity posted on the Site was removed or disabled and the Member wishes to dispute the Notice for Claims of Intellectual Property Violations, the Member must provide btcloudword.com's Copyright Agent with the following information:</p>
            <ul>
                <li>An electronic or physical signature of the Member;</li>
                <li>A description of the copyrighted work or other intellectual property that has been removed or disabled and the location where the material appeared before removed or disabled;</li>
                <li>A statement by the Member, made under penalty of perjury, that the Member has a good faith belief that the material was removed or disabled as a result of mistake or misidentification; and</li>
                <li>The Member's name, address, telephone number and email address, and a statement that the Member consents to the jurisdiction of the United States District Court for the judicial district in which the Member's residence is located if in the United States, or a similar court in the country of the Member's residence. The Member must also provide a statement that they will accept service of process from the Complainant.</li>
            </ul>
        </li>
        <li>
            <p>
                D) The btcloudword.com's Response upon Receipt of a Counter Notification Form.
                Upon btcloudword.com's receipt of a Counter Notification Form, btcloudword.com will take the following steps:
            </p>
            <ul>
                <li>Promptly provide the Complainant with a copy of the Counter Notification Form;</li>
                <li>Promptly inform the Complainant that the removed or disabled material or activity will be replaced or re-enabled in not less than ten (10), but no more than fourteen (14), business days unless btcloudword.com's Copyright Agent first receives notice that the Complainant has filed an action seeking a court order to restrain the Member from engaging in infringing activity relating to the material or activity on the Site; and</li>
                <li>After the period in Section (D)(2) above has elapsed, replace or re-enable the disabled material unless a notice of action as defined in Section (D)(2) above has been received (unless the material is determined by btcloudword.com in its sole discretion to potentially infringe any intellectual property rights).</li>
            </ul>
        </li>
    </ul>
    <p>To the extent the notices and "take down" requirements above deviate from the requirements under the DMCA, then the notice requirements as provided by the DMCA shall control and are herein incorporated by reference.</p>
    <p>In accordance with the DMCA, we have adopted a policy of terminating, in appropriate circumstances and in the sole discretion of btcloudword.com, Members who are deemed to be repeat copyright infringers. We may also in our sole discretion limit access to the Site and/or terminate the account of any Member who infringes upon any intellectual property rights of others, whether or not there is any repeat infringement.</p>
</div>