@{
    Layout = "_HomeLayout";
    ViewBag.Title = "服务条款";
}

<div class="tos">
    <h3>版权声明</h3>
    <p>btsoso.info是DHT开放网络搜索引擎，仅存储文件的标题、大小、文件列表、文件标识符（磁力链接）等基础信息。</p>
    <ul>
        <li>
            btsoso.info:
            <ul>
                <li>不存储或传送受版权保护的内容;</li>
                <li>不运行BitTorrent的服务器;</li>
                <li>不参与P2P传输;</li>
                <li>不记录用户的操作;</li>
                <li>索引来自开放网络的信息和内容;</li>
                <li>是一个非营利性组织，由捐赠维持。</li>
            </ul>
        </li>
        <li>你可以在<a href="http://www.google.com/search?q=torrent" target="_blank" rel="nofollow">谷歌</a>, <a href="http://www.baidu.com/s?wd=torrent" target="_blank" rel="nofollow">百度</a>, <a href="http://www.bing.com/search?q=torrent" target="_blank" rel="nofollow">Bing</a> 或者 <a href="http://search.yahoo.com/search?p=torrent" target="_blank" rel="nofollow">雅虎</a>等搜索引擎找到同样的磁力链接。</li>
        <li>所有信息汇总，并通过计算机软件进行分析，无任何人工干预。</li>
        <li>谷歌和百度是全球领先的互联网搜索引擎，btsoso.info和它们遵守同样的索引和显示方式。</li>
    </ul>

    <p>我们遵守各国版权法案（这包括DMCA），如果侵犯您的版权，请于我们联系，我们会删除相关侵权链接，并建立“黑名单”，在搜索引擎索引链接中排除侵权内容。</p>

    <h3>隐私</h3>
    <p>btsoso.info尊重您的隐私。我们不会泄露您的个人信息（电子邮件地址，IP地址等）和相关的活动给任何第三方，未经您的许可。我们也不会保留您的个人信息用于任何用途。</p>

    <h3>第三方广告</h3>
    <p>我们使用第三方广告公司提供广告服务，当您访问我们的网站。这些公司可能会使用订单信息（不包括您的姓名，地址，电子邮件地址或电话号码）。</p>

    <h3>第三方Cookie</h3>
    <p>在提供广告的网站的过程中，我们的第三方广告商可能会放置或识别您的浏览器独特的“Cookie”。这本身不会泄露您的个人信息。</p>

    <p><b>请注意，如果侵犯了您的版权，著作权人可以要求我们删除侵权链接。如果：</b></p>
    <ol>
        <li>你本人，或者你的公司是涉及内容的版权持有人。</li>
        <li>请提供准确的链接地址。</li>
        <li>请提供相关内容的完整姓名（或名称）。</li>
        <li>请使用可以回执的可验证的电子邮件地址发送请求（如address@yourname/yourcompany.com）。</li>
    </ol>
    <p>如果您的要求符合所有的这些规则，发送邮件到752392190@qq.com。请保持通信有礼貌。 我们一般会在72小时内处理该问题。请注意，我们只能处理符合上述规则的删除请求。</p>
    <p> </p>
</div>